<nav class="menu clearfix">
    <h3>{{not_found}}</h3>

    <a class="" routerLink='/completed'>
      <button mat-raised-button matTooltip="List with completed tasks">
        <mat-icon>bookmark</mat-icon>
      </button>     
    </a>
    <a class="" routerLink='/todo-add'>         
      <button mat-raised-button matTooltip="Add new task">
        <mat-icon>add</mat-icon>
      </button>
    </a>
    <a class="" routerLink='/todo-list'>
      <button mat-raised-button matTooltip="List with current tasks">
        <mat-icon>view_list</mat-icon>
      </button>
    </a>

</nav>

<mat-card class="not-found-container">
	<mat-icon class="error">error</mat-icon>
	<div class="not-found">{{not_found}}</div>
</mat-card>
